<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>运动服饰</title>
    <link rel="stylesheet" href="./static/css/base.css">
    <link rel="stylesheet" href="./static/css/common.css">
    <link rel="stylesheet" href="./static/css/index.css">
</head>
<body>
   
    <!-- 快捷导航  -->
    <div class="fastN">
        <div class="pageM">
            <ul>
                <li><a href="shopcar.html">购物车</a></li> 
                <li><a href="shopN.html">男士运动</a></li>
                <li><a href="shopN.html">女士运动</a></li>  
                <li><a href="infor.html">用户信息</a></li>

            </ul>
        </div>
        <div class="searchp">
            <input type="search" placeholder="李宁">
            <ul class="lip">
                <li><a href="">1号</a></li>
                <li><a href="">2号</a></li>
                <li><a href="">3号</a></li>
                <li><a href="">4号</a></li>
                <li><a href="">5号</a></li>
                <li><a href="">6号</a></li>
            </ul>
        </div>
    </div>
    
    <div class="toggle">
        <a href="#" id="r" class="right" style="display:none">
            <img src="./static/image/right.png">
        </a>
        <a href="#" id="l" class="left" style="display:none" >
            <img src="./static/image/left.png">
        </a>
        <div class="slider">
       <a href="shop1.html"> <img src="./static/image/banner_01.jpg" alt="" style="width: 100%; height: 100%"></a>
        </div>
    </div>

    <div class="shop1">
        <div class="shop1p1"><a href="shop1.html"><img src="./static/image/shop1.webp" alt=""></a></div>
        <div class="shop1p2"><a href="shop2.html"><img src="./static/image/shop2.webp" alt=""></a></div>
        <div class="shop1p3"><a href="shop1.html"><img src="./static/image/shop3.webp" alt=""></a></div>
        <div class="shop1p4"><a href="shop1.html"><img src="./static/image/shop4.webp" alt=""></a></div>
        <div class="shopt1">
            <p style="text-align:center;"> 【2023新品】韦德之道10-ART男子中帮篮球专业比赛鞋ABAS115-01</p>
            <p style="text-align:center;">￥1399</p>
        </div>
        <div class="shopt2">
            <p style="text-align:center;"> 【2023新品】JIMMY BUTLER 1大学男子轻量高回弹篮球专业比赛鞋ABAS051-02</p>
            <p style="text-align:center;">￥1299</p>
        </div>
        <div class="shopt3">
            <p style="text-align:center;"> 烈骏6代男子反光支撑稳定跑鞋ARZS001-13</p>
            <p style="text-align:center;">￥459</p>
        </div>
        <div class="shopt4">
            <p style="text-align:center;">【华晨宇同款】吾适LITE男子休闲慢跑鞋ARST003-5</p>
            <p style="text-align:center;">￥988</p>
        </div>
    </div>
    <div class="ad1">
        <a href="shop1.html"><img src="./static/image/gg2.jpg" alt=""></a>
    </div>
    
    <div class="shop2">
        <div class="shop2p1"><a href="shop1.html"><img src="./static/image/shop5.webp" alt=""></a></div>
        <div class="shop2p2"><a href="shop1.html"><img src="./static/image/shop6.webp" alt=""></a></div>
        <div class="shop2p3"><a href="shop1.html"><img src="./static/image/shop7.webp" alt=""></a></div>
        <div class="shop2p4"><a href="shop1.html"><img src="./static/image/shop8.webp" alt=""></a></div>
        <div class="shopt21">
            <p style="text-align:center;"> ALLCITY 11-晨曦男子轻量高回弹篮球专业比赛鞋ABAT005-6</p>
            <p style="text-align:center;">￥500</p>
        </div> 
        <div class="shopt22">
            <p style="text-align:center;"> ALLCITY 11-晨曦男子轻量高回弹篮球专业比赛鞋ABAT005-6</p>
            <p style="text-align:center;">￥500</p>
        </div> 
        <div class="shopt23">
            <p style="text-align:center;"> ALLCITY 11-晨曦男子轻量高回弹篮球专业比赛鞋ABAT005-6</p>
            <p style="text-align:center;">￥500</p>
        </div> 
        <div class="shopt24">
            <p style="text-align:center;"> ALLCITY 11-晨曦男子轻量高回弹篮球专业比赛鞋ABAT005-6</p>
            <p style="text-align:center;">￥500</p>
        </div> 
    </div>
    <div class="ad1">
        <a href="shop1.html"><img src="./static/image/gg3.jpg" alt=""></a>
    </div>

    <div class="shop3">
        <div class="shop3p1"><a href="shop1.html"><img src="./static/image/shop5.webp" alt=""></a></div>
        <div class="shop3p2"><a href="shop1.html"><img src="./static/image/shop6.webp" alt=""></a></div>
        <div class="shop3p3"><a href="shop1.html"><img src="./static/image/shop7.webp" alt=""></a></div>
        <div class="shop3p4"><a href="shop1.html"><img src="./static/image/shop8.webp" alt=""></a></div>
        <div class="shopt31">
            <p style="text-align:center;"> ALLCITY 11-晨曦男子轻量高回弹篮球专业比赛鞋ABAT005-6</p>
            <p style="text-align:center;">￥500</p>
        </div> 
        <div class="shopt32">
            <p style="text-align:center;"> ALLCITY 11-晨曦男子轻量高回弹篮球专业比赛鞋ABAT005-6</p>
            <p style="text-align:center;">￥500</p>
        </div> 
        <div class="shopt33">
            <p style="text-align:center;"> ALLCITY 11-晨曦男子轻量高回弹篮球专业比赛鞋ABAT005-6</p>
            <p style="text-align:center;">￥500</p>
        </div> 
        <div class="shopt34">
            <p style="text-align:center;"> 【华晨宇同款】吾适LITE男子休闲慢跑鞋ARST003-5</p>
            <p style="text-align:center;">￥378</p>
        </div> 
    </div>
    <div class="endl">
        <br>
        <h3 style="text-align: center; color: rgba(95, 94, 94, 0.902);">欢迎来到运动服饰</h3>
        <hr>
        <p style="text-align: center; color: rgba(95, 94, 94, 0.902);">
            热线电话：400-821-5065
            周一至周日 9:00-18:00
            联系在线客服
            周一至周日 9:00-23:30
            企业团购：400-821-5065
            周一至周日 9:00-18:00
            客服邮箱：cs.ecom.cn@puma.c
        </p>
        <p style="text-align: center; color: rgba(95, 94, 94, 0.902);">
            帮助中心
            退换货规则
            个人信息保护政策
            使用条款
            关于活动
            订单查询
        </p>
    </div>
    
</div>



    


   
  
   
   
    
    <script>
        //广告栏图片移动
        const sliderd=[ 
            { url:'./static/image/banner_01.jpg',title:'对对对',color:'rgb(99,72,114)'},
            { url:'./static/image/banner_02.jpg',title:'对对对',color:'rgb(99,72,114)'},
            { url:'./static/image/banner_03.jpg',title:'对对对',color:'rgb(99,72,114)'},
            { url:'./static/image/banner_07.jpg',title:'对对对',color:'rgb(99,72,114)'},
            { url:'./static/image/banner_08.jpg',title:'对对对',color:'rgb(99,72,114)'},
            { url:'./static/image/banner_09.jpg',title:'对对对',color:'rgb(99,72,114)'},
        ]
        const img=document.querySelector('.slider img')
        const right=document.querySelector('.right')
        const left=document.querySelector('.left')
        let i=0
        right.addEventListener('click',function(){//注册点击事件
            i++
            // 得到对应的对象
            if(i>=sliderd.length)
            {
                i=0
            }
            img.src=sliderd[i].url

        })
        left.addEventListener('click',function(){//注册点击事件
            i--
            // 得到对应的对象
            if(i<=-1)
            {
                i=sliderd.length-1
            }
            img.src=sliderd[i].url

        })
      
        let time=setInterval(function() {//定时器 开启时自动换页面
            i++
            // 得到对应的对象
            if(i>=sliderd.length)
            {
                i=0
            }
            img.src=sliderd[i].url
        },1500)

        
        const toggle=document.querySelector('.toggle')
        toggle.addEventListener('mouseenter',function(){
            left.style.display='block'
            right.style.display='block'
        })
        toggle.addEventListener('mouseleave',function(){
            left.style.display='none'
            right.style.display='none'
        })

        toggle.addEventListener('mouseenter',function(){
            clearInterval(time)
        })//关闭定时器

        toggle.addEventListener('mouseleave',function(){
            time=setInterval(function() {
                i++
            // 得到对应的对象
            if(i>=sliderd.length)
            {
                i=0
            }
            img.src=sliderd[i].url
        },1500)
        })
           
    </script>

   
        <script>
            const input=document.querySelector('input')
            const ul=document.querySelector('.lip')
            input.addEventListener('focus',function(){
                ul.style.display='block'
                input.classList.add('searchadd')
            })
            input.addEventListener('blur',function(){
                ul.style.display='none'
                input.classList.remove('searchadd')
            })
        </script>
        <script>
            let imgl=document.querySelector('.shop1p1 img')
            const shop1p1=document.querySelector('.shop1p1')
            shop1p1.addEventListener('mouseenter',function(){
                imgl.src="./static/image/shop1t2.webp"
            })
            shop1p1.addEventListener('mouseleave',function(){
                imgl.src="./static/image/shop1.webp"
            })

            let img2=document.querySelector('.shop1p2 img')
            const shop1p2=document.querySelector('.shop1p2')
            shop1p2.addEventListener('mouseenter',function(){
                img2.src="./static/image/shop2t2.webp"
            })
            shop1p2.addEventListener('mouseleave',function(){
                img2.src="./static/image/shop2.webp"
            })

            let img3=document.querySelector('.shop1p3 img')
            const shop1p3=document.querySelector('.shop1p3')
            shop1p3.addEventListener('mouseenter',function(){
                img3.src="./static/image/shop3t2.webp"
            })
            shop1p3.addEventListener('mouseleave',function(){
                img3.src="./static/image/shop3.webp"
            })

            let img4=document.querySelector('.shop1p4 img')
            const shop1p4=document.querySelector('.shop1p4')
            shop1p4.addEventListener('mouseenter',function(){
                img4.src="./static/image/shop4t2.webp"
            })
            shop1p4.addEventListener('mouseleave',function(){
                img4.src="./static/image/shop4.webp"
            })
        </script>

   


   
        
</body> 
</html> 